@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    color: #F3F4F6;
    font-family: 'Inter', sans-serif;
  }
}
